.Rectangle-1-_x8_y13{
	background-color : #343a40;
	height : 50px;
}

.Rectangle-2-copy-_x383_y383{
	background-color : #ffffff;
	border : solid 1px #b3b3cc;
	height : 250px;
}

.Rounded-Rectangle-1-_x8_y87{
	background-color : #e9ecef;
	border : solid 1px #666699;
	border-radius : 5px;
	height : 264px;
}

.Rectangle-2-copy-_x926_y383{
	background-color : #ffffff;
	border : solid 1px #b3b3cc;
	height : 250px;
}

.Rectangle-2-_x8_y677{
	background-color : #e9ecef;
	border : solid 1px #666699;
	height : 66px;
}

.About-us-_x272_y30{
	color : #9a9da0;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.0em;
	font-family : Myriad Pro;
	font-stretch : normal;
	font-style : normal;
	height : 12px;
	text-align : left;
}

.Lorem-Ipsum-has-been_x942_y437{
	color : #212529;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.0em;
	font-family : SegoeUI;
	font-stretch : normal;
	font-style : normal;
	height : 186px;
	text-align : left;
}

.Demo-Page-_x403_y172{
	color : #212529;
	font-weight : 300;
	letter-spacing : -1.5px;
	font-size : 4.6875em;
	font-family : SegoeUI;
	font-stretch : normal;
	font-style : normal;
	height : 72px;
	text-align : left;
}

.Lorem-Ipsum-has-been_x399_y437{
	color : #212529;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.0em;
	font-family : SegoeUI;
	font-stretch : normal;
	font-style : normal;
	height : 186px;
	text-align : left;
}

.Heading-_x945_y391{
	color : #212529;
	font-weight : normal;
	letter-spacing : -0.7px;
	font-size : 2.0625em;
	font-family : SegoeUI;
	font-stretch : normal;
	font-style : normal;
	height : 34px;
	text-align : left;
}

.-Company-2017-2019-_x871_y685{
	color : #212529;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.0em;
	font-family : SegoeUI;
	font-stretch : normal;
	font-style : normal;
	height : 17px;
	text-align : left;
}

.Welcome-_x25_y28{
	color : #ffffff;
	font-weight : normal;
	letter-spacing : 0.4px;
	font-size : 1.25em;
	font-family : Myriad Pro;
	font-stretch : normal;
	font-style : normal;
	height : 15px;
	text-align : left;
}

.Features-_x198_y31{
	color : #9a9da0;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.0em;
	font-family : Myriad Pro;
	font-stretch : normal;
	font-style : normal;
	height : 11px;
	text-align : left;
}

.This-is-a-demo-page-_x398_y252{
	color : #212529;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.0em;
	font-family : SegoeUI;
	font-stretch : normal;
	font-style : normal;
	height : 18px;
	text-align : left;
}

.Heading-_x402_y391{
	color : #212529;
	font-weight : normal;
	letter-spacing : -0.7px;
	font-size : 2.0625em;
	font-family : SegoeUI;
	font-stretch : normal;
	font-style : normal;
	height : 34px;
	text-align : left;
}

.Home-_x138_y31{
	color : #ffffff;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.0em;
	font-family : Myriad Pro;
	font-stretch : normal;
	font-style : normal;
	height : 11px;
	text-align : left;
}

