.Rectangle-3-copy-6-_x394_y699{
	background-color : #b7b7b7;
	height : 193px;
}

.Rectangle-1-_x8_y13{
	background-color : #343a40;
	height : 50px;
}

.Rounded-Rectangle-1-_x8_y87{
	background-color : #e9ecef;
	border : solid 1px #666699;
	border-radius : 5px;
	height : 264px;
}

.Rectangle-2-copy-_x926_y383{
	background-color : #ffffff;
	border : solid 1px #b3b3cc;
	height : 250px;
}

.Rectangle-2-copy-_x383_y383{
	background-color : #ffffff;
	border : solid 1px #b3b3cc;
	height : 250px;
}

.Rectangle-2-copy-3-_x1469_y386{
	background-color : #ffffff;
	border : solid 1px #b3b3cc;
	height : 190px;
}

.Rectangle-2-_x8_y964{
	background-color : #e9ecef;
	border : solid 1px #666699;
	height : 67px;
}

.Rectangle-3-_x382_y687{
	background-color : #e9ecef;
	height : 243px;
}

.Rectangle-3-copy-2-_x954_y685{
	background-color : #e9ecef;
	height : 245px;
}

.Lorem-Ipsum-has-been_x1481_y426{
	color : #212529;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 0.75em;
	font-family : SegoeUI;
	font-stretch : normal;
	font-style : normal;
	height : 141px;
	text-align : left;
}

.Rectangle-3-copy-5-_x987_y715{
	background-color : #b7b7b7;
	height : 193px;
}

.Demo-Page-_x403_y172{
	color : #212529;
	font-weight : 300;
	letter-spacing : -1.5px;
	font-size : 4.6875em;
	font-family : SegoeUI;
	font-stretch : normal;
	font-style : normal;
	height : 72px;
	text-align : left;
}

.Lorem-Ipsum-has-been_x399_y437{
	color : #212529;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.0em;
	font-family : SegoeUI;
	font-stretch : normal;
	font-style : normal;
	height : 186px;
	text-align : left;
}

.Rectangle-3-copy-11-_x410_y765{
	background-color : #d7d7d7;
	height : 108px;
}

.-Company-2017-2019-_x871_y973{
	color : #212529;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.0em;
	font-family : SegoeUI;
	font-stretch : normal;
	font-style : normal;
	height : 17px;
	text-align : left;
}

.Rectangle-3-copy-3-_x1427_y685{
	background-color : #e9ecef;
	height : 245px;
}

.Rectangle-3-copy-7-_x406_y712{
	background-color : #707070;
	height : 37px;
}

.This-is-a-demo-page-_x398_y252{
	color : #212529;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.0em;
	font-family : SegoeUI;
	font-stretch : normal;
	font-style : normal;
	height : 18px;
	text-align : left;
}

.Heading-_x402_y391{
	color : #212529;
	font-weight : normal;
	letter-spacing : -0.7px;
	font-size : 2.0625em;
	font-family : SegoeUI;
	font-stretch : normal;
	font-style : normal;
	height : 34px;
	text-align : left;
}

.Rectangle-3-copy-8-_x456_y712{
	background-color : #707070;
	height : 37px;
}

.About-us-_x272_y30{
	color : #9a9da0;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.0em;
	font-family : Myriad Pro;
	font-stretch : normal;
	font-style : normal;
	height : 12px;
	text-align : left;
}

.Rectangle-3-copy-10-_x566_y712{
	background-color : #707070;
	height : 37px;
}

.Lorem-Ipsum-has-been_x942_y437{
	color : #212529;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.0em;
	font-family : SegoeUI;
	font-stretch : normal;
	font-style : normal;
	height : 186px;
	text-align : left;
}

.Heading-_x945_y391{
	color : #212529;
	font-weight : normal;
	letter-spacing : -0.7px;
	font-size : 2.0625em;
	font-family : SegoeUI;
	font-stretch : normal;
	font-style : normal;
	height : 34px;
	text-align : left;
}

.Welcome-_x25_y28{
	color : #ffffff;
	font-weight : normal;
	letter-spacing : 0.4px;
	font-size : 1.25em;
	font-family : Myriad Pro;
	font-stretch : normal;
	font-style : normal;
	height : 15px;
	text-align : left;
}

.Rectangle-3-copy-9-_x511_y712{
	background-color : #707070;
	height : 37px;
}

.Features-_x198_y31{
	color : #9a9da0;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.0em;
	font-family : Myriad Pro;
	font-stretch : normal;
	font-style : normal;
	height : 11px;
	text-align : left;
}

.Rectangle-3-copy-4-_x1706_y744{
	background-color : #e9ecef;
	height : 186px;
}

.Rectangle-3-copy-_x704_y761{
	background-color : #e9ecef;
	height : 169px;
}

.Home-_x138_y31{
	color : #ffffff;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.0em;
	font-family : Myriad Pro;
	font-stretch : normal;
	font-style : normal;
	height : 11px;
	text-align : left;
}

