.Rectangle-1-copy-2_x0_y685{
	height : 83px;
}

.Vector-Smart-Object_x343_y253{
	height : 239px;
}

.Layer-1_x776_y219{
	height : 167px;
}

.PACIENTE_x564_y339{
	color : #a52a2a;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.875em;
	font-family : TimesNewRomanPSMT;
	font-stretch : normal;
	font-style : normal;
	height : 23px;
	text-align : center;
}

.ARIA-2014_x815_y290{
	color : #ffffff;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.0625em;
	font-family : TimesNewRomanPSMT;
	font-stretch : normal;
	font-style : normal;
	height : 13px;
	text-align : center;
}

.Beneficios_x718_y719{
	text-shadow : 0px 3px 2px rgba(83, 84, 74, 0.75);
	color : #ffffff;
	font-weight : 800;
	letter-spacing : 0.1px;
	font-size : 0.75em;
	font-family : AXIS;
	font-stretch : normal;
	font-style : normal;
	height : 10px;
	text-align : center;
}

.Layer-2-copy-7_x23_y23{
	background-color : #ffffff;
	height : 48px;
}

.Xuzal_x188_y719{
	text-shadow : 0px 3px 2px rgba(83, 84, 74, 0.75);
	color : #ffffff;
	font-weight : normal;
	letter-spacing : 0.2px;
	font-size : 1.0em;
	font-family : Myriad Pro;
	font-stretch : normal;
	font-style : normal;
	height : 12px;
	text-align : center;
}

.Paciente_x73_y720{
	text-shadow : 0px 3px 2px rgba(83, 84, 74, 0.75);
	color : #ffffff;
	font-weight : 800;
	letter-spacing : 0.1px;
	font-size : 0.75em;
	font-family : AXIS;
	font-stretch : normal;
	font-style : normal;
	height : 9px;
	text-align : center;
}

.Layer-3_x808_y70{
	height : 62px;
}

.Algoritmos_x495_y719{
	text-shadow : 0px 3px 2px rgba(83, 84, 74, 0.75);
	color : #ffffff;
	font-weight : 800;
	letter-spacing : 0.1px;
	font-size : 0.75em;
	font-family : AXIS;
	font-stretch : normal;
	font-style : normal;
	height : 9px;
	text-align : center;
}

.Layer-1117-copy-3_x933_y83{
	height : 40px;
}

.Layer-1117-copy-2_x873_y83{
	height : 40px;
}

.REDUCCIN-DE-SNTOMAS-copy_x396_y714{
	text-shadow : 0px 3px 2px rgba(83, 84, 74, 0.75);
	color : #ffffff;
	font-weight : 800;
	letter-spacing : 0.1px;
	font-size : 0.5em;
	font-family : AXIS;
	font-stretch : normal;
	font-style : normal;
	height : 18px;
	text-align : center;
}

.Xuzal-Gillard-2005_x21_y84{
	color : #ffffff;
	font-weight : normal;
	letter-spacing : 0.1px;
	font-size : 0.875em;
	font-family : TimesNewRomanPSMT;
	font-stretch : normal;
	font-style : normal;
	height : 13px;
	text-align : center;
}

.Potencia_x288_y719{
	text-shadow : 0px 3px 2px rgba(83, 84, 74, 0.75);
	color : #ffffff;
	font-weight : 800;
	letter-spacing : 0.1px;
	font-size : 0.75em;
	font-family : AXIS;
	font-stretch : normal;
	font-style : normal;
	height : 10px;
	text-align : center;
}

.Eficacia_x452_y330{
	color : #ffffff;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.25em;
	font-family : TimesNewRomanPSMT;
	font-stretch : normal;
	font-style : normal;
	height : 16px;
	text-align : center;
}

.ucb_x862_y708{
	background-color : #ffffff;
	height : 29px;
}

.Eficacia_x619_y719{
	text-shadow : 0px 3px 2px rgba(83, 84, 74, 0.75);
	color : #ffffff;
	font-weight : 800;
	letter-spacing : 0.1px;
	font-size : 0.75em;
	font-family : AXIS;
	font-stretch : normal;
	font-style : normal;
	height : 10px;
	text-align : center;
}

.No-De-aviso-COFEPRIS-XXXXXXXX-Reg-No-236M2009-SSA-Reg-No_x855_y639{
	color : #5e390e;
	font-weight : normal;
	letter-spacing : 0.4px;
	font-size : 0.5625em;
	font-family : AvantGardeLT-Demi;
	font-stretch : normal;
	font-style : normal;
	height : 29px;
	text-align : right;
}

.Kios-2015-Horak-2004-Schoepke-2013-Larenas-2015_x651_y558{
	color : #ffffff;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 0.9375em;
	font-family : TimesNewRomanPSMT;
	font-stretch : normal;
	font-style : normal;
	height : 67px;
	text-align : center;
}

.IPP-Xuzal-Gillard-2005-Larens-2015_x542_y117{
	color : #ffffff;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.0em;
	font-family : TimesNewRomanPSMT;
	font-stretch : normal;
	font-style : normal;
	height : 50px;
	text-align : center;
}

.Seguridad_x602_y208{
	background-color : #0d1d4f;
	text-shadow : 0px 4px 0 rgba(0, 0, 0, 0.1);
	color : #0d1d4f;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.5em;
	font-family : TimesNewRomanPSMT;
	font-stretch : normal;
	font-style : normal;
	height : 23px;
	text-align : center;
}

.Otros-antihistamnicos_x570_y485{
	color : #0000cd;
	font-weight : normal;
	letter-spacing : 0.9px;
	font-size : 1.125em;
	font-family : TimesNewRomanPSMT;
	font-stretch : normal;
	font-style : normal;
	height : 36px;
	text-align : center;
}

.Layer-4_x773_y91{
	box-shadow : 0px 2px 5px 0 rgba(0, 0, 0, 0.92);
	height : 21px;
}

