.btn1-btnnormal3_x587_y543{
	height : 29px;
}

.btn2-btnnormal3_x659_y543{
	height : 29px;
}

.popClose0_x515_y542{
	height : 30px;
}

.FROM-NOVARTIS_x674_y549{
	color : #ffffff;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 0.5625em;
	font-family : Arial;
	font-stretch : normal;
	font-style : normal;
	height : 17px;
	text-align : center;
}

.WHY-ACCENTRIX_x595_y549{
	color : #ffffff;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 0.5625em;
	font-family : Arial;
	font-stretch : normal;
	font-style : normal;
	height : 17px;
	text-align : center;
}

.A-new-brand-of-ranibizumab_x75_y153{
	color : #1a5e66;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.8125em;
	font-family : Arial;
	font-stretch : normal;
	font-style : normal;
	height : 22px;
	text-align : left;
}

.Introducing-Accentrix_x75_y66{
	color : #1a5e66;
	font-weight : bold;
	letter-spacing : normal;
	font-size : 2.25em;
	font-family : Arial;
	font-stretch : normal;
	font-style : normal;
	height : 68px;
	text-align : left;
}

.refBtn-btnnormal1_x907_y506{
	height : 22px;
}

.Why-are-we-launching-Accentrix-in-india-Accentrix-has-been-i_x538_y198{
	color : #ffffff;
	font-weight : bold;
	letter-spacing : normal;
	font-size : 0.9375em;
	font-family : Arial;
	font-stretch : normal;
	font-style : normal;
	height : 176px;
	text-align : left;
}

.Accentrix-ranibizumab-offers-a-more-affordable-licensed-trea_x538_y65{
	color : #ffffff;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 0.9375em;
	font-family : Arial;
	font-stretch : normal;
	font-style : normal;
	height : 99px;
	text-align : left;
}

.INTRO_x536_y554{
	color : #ffffff;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 0.5625em;
	font-family : Arial;
	font-stretch : normal;
	font-style : normal;
	height : 7px;
	text-align : left;
}

