.Rectangle-2-_x0_y0{
	background-color : #ffffff;
	box-shadow : 0 0 14.4px 1.6px rgba(46, 52, 62, 0.13);
	height : 49px;
}

.Layer-10-_x0_y49{
	height : 380px;
}

.Layer-1-_x624_y286{
	height : 143px;
}

.Rounded-Rectangle-1-_x345_y462{
	background-color : #ebf2f7;
	border-radius : 10px;
	height : 172px;
}

.Rectangle-12-_x127_y1766{
	background-color : #ffffff;
	box-shadow : 0px 5px 18.1px 2.9px rgba(46, 52, 62, 0.15);
	height : 381px;
}

.Layer-1-_x934_y1127{
	height : 43px;
}

.Rounded-Rectangle-1-_x113_y462{
	background-color : #ebf2f7;
	border-radius : 10px;
	height : 172px;
}

.Rounded-Rectangle-1-_x813_y462{
	background-color : #ebf2f7;
	border-radius : 10px;
	height : 172px;
}

.Rounded-Rectangle-1-_x1047_y462{
	background-color : #ebf2f7;
	border-radius : 10px;
	height : 172px;
}

.Vector-Smart-Object3_x877_y2135{
	height : 41px;
}

.Red-bar-_x0_y0{
	background-color : #d92032;
	height : 49px;
}

.Layer-1-_x1221_y9{
	height : 33px;
}

.Ver-mais-copy-_x1052_y2134{
	height : 43px;
}

.Layer-1-_x1070_y237{
	height : 116px;
}

.Layer-1-_x203_y771{
	height : 380px;
}

.a-_x1000.5_y1274.2{
	mix-blend-mode : multiply;
	height : 369.1px;
}

.Seus-abraos-inspiram_x726_y366{
	color : #ffffff;
	font-weight : 600;
	letter-spacing : 0.4px;
	font-size : 2.25em;
	font-family : OmnesHuggies;
	font-stretch : normal;
	font-style : italic;
	height : 33px;
	text-align : right;
}

.Rounded-Rectangle-1-_x581_y462{
	background-color : #ebf2f7;
	border-radius : 10px;
	height : 172px;
}

.a-_x70.9_y1275.8{
	mix-blend-mode : multiply;
	height : 369.1px;
}

.a-_x690.5_y1274.5{
	mix-blend-mode : multiply;
	height : 369.1px;
}

.Rectangle-11-_x116_y731{
	background-color : #333740;
	height : 380px;
}

.a-_x381.2_y1274.5{
	mix-blend-mode : multiply;
	height : 369.1px;
}

