.Rectangle-_x21_y393{
	background-color : #ffffff;
	height : 410px;
}

.Rectangle-_x0_y827{
	background-color : #ffffff;
	height : 411px;
}

.Rectangle-_x357_y393{
	background-color : #ffffff;
	height : 410px;
}

.Eli-Pinto-Digital-_x22_y675{
	color : #4298b5;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.125em;
	font-family : ProximaNova;
	font-stretch : normal;
	font-style : normal;
	height : 128px;
	text-align : center;
}

.Bitmap-_x0_y827{
	height : 270px;
}

.Johnny-Cash-Guitar-_x22_y1113{
	color : #4298b5;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.125em;
	font-family : ProximaNova;
	font-stretch : normal;
	font-style : normal;
	height : 128px;
	text-align : center;
}

.Bitmap-_x0_y1230{
	height : 505px;
}

.Rectangle-_x357_y830{
	background-color : #ffffff;
	height : 410px;
}

.Hedy-Lamarr-Invent-_x357_y1113{
	color : #4298b5;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.125em;
	font-family : ProximaNova;
	font-stretch : normal;
	font-style : normal;
	height : 128px;
	text-align : center;
}

.Girish-Dharmoji-Cl-_x357_y675{
	color : #4298b5;
	font-weight : normal;
	letter-spacing : normal;
	font-size : 1.125em;
	font-family : ProximaNova;
	font-stretch : normal;
	font-style : normal;
	height : 128px;
	text-align : center;
}

.Your-team-_x63_y290{
	color : #4298b5;
	font-weight : 300;
	letter-spacing : normal;
	font-size : 3.75em;
	font-family : ProximaNova;
	font-stretch : normal;
	font-style : normal;
	height : 72px;
}

.Bitmap-_x381_y827{
	height : 333px;
}

.Bitmap-_x385_y393{
	height : 267px;
}

.Bitmap-_x46_y393{
	height : 273px;
}

