.element_x0_y4817{
	font-color : #24418F, 100%;
}

.VideoSeriesContainer{
	font-color : #1A2F69, 100%;
}

.Header{
	font-color : #24418F, 100%;
}

.DisclaimerContainer{
	font-color : #1A2F69, 100%;
}

.ViewAllButton{
	font-color : #48CCB0, 100%#071A3A, 100%;
}

.LearnMoreButton{
	font-color : #48CCB0, 100%#071A3A, 100%;
}

.RequestSampleButton2{
	font-color : #6A3BA0, 100%#071A3A, 100%;
}

.RequestSampleButton1{
	font-color : #48CCB0, 100%#071A3A, 100%;
}

.PyjamaButton{
	font-color : #6A3BA0, 100%#071A3A, 100%;
}

.EmailTextBox{
	font-color : #FFFFFF, 100%;
}

.BedMatsButton{
	font-color : #6A3BA0, 100%#071A3A, 100%;
}

.NameTextBox{
	font-color : #FFFFFF, 100%;
}

.SubscribeButton{
	font-color : #48CCB0, 100%#071A3A, 100%;
}

.DryNites--Bed-Mats_x25_y2319{
	font-color : #FFFFFF, 100%;
	font-size : 24px;
	font-family : Arial Rounded MT;
	text-align : left;
}

.Email_x116_y4396.56{
	font-color : #777777, 100%;
	font-size : 14px;
	font-family : Open Sans;
	text-align : left;
}

.Helping-your-kids-st_x25_y231{
	font-color : #FFFFFF, 100%#082658, 100%;
	font-size : 46px;
	font-family : Albus;
	text-align : center;
}

.Video-series-on--Bed_x70_y874{
	font-color : #FFFFFF, 100%;
	font-size : 46px;
	font-family : DK Lemon Yellow Sun;
	text-align : left;
}

.Visit-Experts-Hub_x123_y1327.05{
	font-color : #48CCB0, 100%;
	font-size : 18px;
	font-family : Arial Rounded MT;
	text-align : center;
}

.What-Is-Bedwetting-_x25_y3309{
	font-color : #48CCB0, 100%;
	font-size : 18px;
	font-family : Arial Rounded MT;
	text-align : center;
}

.FacebookIcon{
	font-color : #FFFFFF, 100%;
}

.Vivamus-non-fringill_x26_y4230.2{
	font-color : #FFFFFF, 100%;
	font-size : 18px;
	font-family : Open Sans;
	text-align : center;
}

.DryNites--Pyjama-Pan_x25_y1784{
	font-color : #FFFFFF, 100%;
	font-size : 24px;
	font-family : Arial Rounded MT;
	text-align : left;
}

.Contact-Us_x15_y4951{
	font-color : #FFFFFF, 100%;
	font-size : 16px;
	font-family : Arial Rounded MT;
	text-align : center;
}

.OurProductImage3{
	font-color : #707070, 100%;
}

.Request-a-sample_x25_y2854{
	font-color : #FFFFFF, 100%;
	font-size : 24px;
	font-family : Arial Rounded MT;
	text-align : left;
}

.Sitemap_x15_y5032{
	font-color : #FFFFFF, 100%;
	font-size : 16px;
	font-family : Arial Rounded MT;
	text-align : center;
}

.YoutubeIcon{
	font-color : #FFFFFF, 100%;
}

.Request-A-Sample_x45_y506{
	font-color : #FFFFFF, 100%;
	font-size : 18px;
	font-family : Arial Rounded MT;
	text-align : center;
}

.Solutions-And-Manage_x252_y3309{
	font-color : #FFFFFF, 100%;
	font-size : 18px;
	font-family : Arial Rounded MT;
	text-align : center;
}

.Our-Products_x226_y506{
	font-color : #FFFFFF, 100%;
	font-size : 18px;
	font-family : Arial Rounded MT Bold;
	text-align : center;
}

.Explore-Drynites--in_x70_y1056.03{
	font-color : #FFFFFF, 100%;
	font-size : 14px;
	font-family : Open Sans;
	text-align : left;
}

.Learn-More_x160.67_y3683{
	font-color : #FFFFFF, 100%;
	font-size : 18px;
	font-family : Arial Rounded MT;
	text-align : center;
}

.View-All-Videos_x143_y1270{
	font-color : #FFFFFF, 100%;
	font-size : 18px;
	font-family : Arial Rounded MT;
	text-align : center;
}

.The-information-and-_x15_y5165{
	font-color : #FFFFFF, 100%;
	font-size : 12px;
	font-family : Open Sans;
	text-align : left;
}

.--Registered-Tradema_x15_y5110{
	font-color : #FFFFFF, 100%;
	font-size : 12px;
	font-family : Open Sans;
	text-align : left;
}

.Lorem-ipsum-dolor-si_x25_y1834{
	font-color : #FFFFFF, 100%;
	font-size : 18px;
	font-family : Open Sans;
	text-align : left;
}

.Our-products_x114_y1457{
	font-color : #48CCB0, 100%;
	font-size : 46px;
	font-family : DK Lemon Yellow Sun;
	text-align : center;
}

.Lorem-ipsum-dolor-si_x25_y2369{
	font-color : #FFFFFF, 100%;
	font-size : 18px;
	font-family : Open Sans;
	text-align : left;
}

.Home_x15_y4910{
	font-color : #FFFFFF, 100%;
	font-size : 16px;
	font-family : Arial Rounded MT;
	text-align : center;
}

.Pyjama-Pants_x151_y1964{
	font-color : #FFFFFF, 100%;
	font-size : 18px;
	font-family : Arial Rounded MT;
	text-align : center;
}

.Bedwetting-Info_x25_y3221{
	font-color : #48CCB0, 100%;
	font-size : 46px;
	font-family : DK Lemon Yellow Sun;
	text-align : center;
}

.Myths--And-Facts_x117_y3309{
	font-color : #FFFFFF, 100%;
	font-size : 18px;
	font-family : Arial Rounded MT;
	text-align : center;
}

.Privacy-Policy_x15_y4991{
	font-color : #FFFFFF, 100%;
	font-size : 16px;
	font-family : Arial Rounded MT;
	text-align : center;
}

.Subscribe_x166_y4478{
	font-color : #FFFFFF, 100%;
	font-size : 18px;
	font-family : Arial Rounded MT;
	text-align : center;
}

.Name_x117_y4332.56{
	font-color : #777777, 100%;
	font-size : 14px;
	font-family : Open Sans;
	text-align : left;
}

.Bedwetting-simply-re_x25_y3525{
	font-color : #FFFFFF, 100%;
	font-size : 18px;
	font-family : Open Sans;
	text-align : left;
}

.Sign-up-for-our-news_x26_y4116{
	font-color : #FFFFFF, 100%;
	font-size : 46px;
	font-family : DK Lemon Yellow Sun;
	text-align : center;
}

.What-is-bedwetting-_x25_y3448{
	font-color : #FFFFFF, 100%;
	font-size : 46px;
	font-family : DK Lemon Yellow Sun;
	text-align : left;
}

.Bed-Mats_x169_y2499{
	font-color : #FFFFFF, 100%;
	font-size : 18px;
	font-family : Arial Rounded MT;
	text-align : center;
}

.Lorem-ipsum-dolor-si_x25_y2904{
	font-color : #FFFFFF, 100%;
	font-size : 18px;
	font-family : Open Sans;
	text-align : left;
}

.Request-A-Sample_x130_y3034{
	font-color : #FFFFFF, 100%;
	font-size : 18px;
	font-family : Arial Rounded MT;
	text-align : center;
}

